.navigation {
    ul {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;

        li {
            &:first-child {
                margin-right: 15px;
            }
        }

        a {
            font-weight: 500;
            text-transform: uppercase;

            &:hover {
                color: $black-color;
            }
        }

        a.active {
            text-decoration: underline;
        }
    }
}
