.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $black-color;
    padding: 60px 0;

    img {
        width: 125px;
        margin-bottom: 25px;
    }

    p {
        color: $white-color;
    }
}
